<section>
<p>
  ¡Hola! Soy Luis Josue Torres Bausitas, un entusiasta de la informática
  originario de Guatemala. Mi pasión por la tecnología se ha centrado en el
  desarrollo de software, específicamente en el backend. A los 22 años, cerré el
  pensum de Ingeniería en Sistemas de Información en 2023, marcando el inicio de
  mi carrera profesional.
</p>
<p>
  Mi enfoque se centra en crear soluciones eficientes y robustas que impulsen el
  rendimiento de las aplicaciones. Estoy emocionado por seguir aprendiendo y
  contribuir a proyectos desafiantes en el emocionante mundo del desarrollo de
  software. ¡Acompáñame en esta emocionante travesía tecnológica!
</p>
</section>
