<section>
  <div>
    <h2>Sobre Mí</h2>
  </div>
  <div class="container">
    <img src="../../../assets/prueba-removebg-preview.png" alt="" />
    <div class="text">
      <p>
        ¡Hola! Soy, <span>Luis Josue Torres Bausitas</span> un entusiasta de la
        informática originario de Guatemala. Mi pasión por la tecnología se ha
        centrado en el desarrollo de software, y me gustaría espeficalizarme en el
        <span>Backend</span>. Tengo 22 años, y poseo pensum cerrado de Ingeniería en
        Sistemas de Información en 2023, marcando el inicio de mi carrera
        profesional.
      </p>
      <p>
        Mi enfoque se centra en crear soluciones eficientes y robustas que
        impulsen el rendimiento de las aplicaciones. Estoy emocionado por seguir
        aprendiendo y contribuir a proyectos desafiantes en el emocionante mundo
        del desarrollo de software.
      </p>
    </div>
  </div>
</section>
