section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
    height: 100vh;
    width: 1000px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  }

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 400px;
  font-size: large;
}

span{
  font-weight: bold;
}

img{
  width: 500px;
}
  