<div class="page">
    <nav>
        <ul>
            <li (click)="scrollToSection('home')" [class.active]="currentSection === 'home'">
              Inicio
            </li>
            <li (click)="scrollToSection('about')" [class.active]="currentSection === 'about'">
              Acerca de mi
            </li>
            <li (click)="scrollToSection('skills')" [class.active]="currentSection === 'skills'">
              Skills
            </li>
            <li (click)="scrollToSection('portfolio')" [class.active]="currentSection === 'portfolio'">
              Portafolio
            </li>
          </ul>
    </nav>
    <div class="blank">
    </div>
    <main>
        <app-home id="home" class="component"></app-home>
        <app-about id="about" class="component"></app-about>
        <app-skills id="skills" class="component"></app-skills>
        <app-portfolio id="portfolio" class="component"></app-portfolio>
    </main>
    </div>
    
 