.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100vh;
  width: 1000px;
}

h1 {
  font-size: 40px;
  white-space: nowrap;
  font-family: monospace;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  border-radius: 150px;
  width: 300px;
}

.divs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

svg {
  width: 35px;
  transition: ease 0.5s;
}

svg:hover {
  scale: 110%;
}

.informationBar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  text-align: center;
  width: 60px;
  font-family: monospace;
  font-size: large;
  border: solid white 2px;
  border-radius: 10px;
  padding: 2px;
  color: rgb(20, 94, 158);
  transition: ease 0.5s;
  font-weight: bolder;
}
button:hover {
  scale: 120%;
  font-weight: bold;
}
span {
  display: block;
  font-size: 20px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 18ch;
  overflow: hidden;
}

.animated {
  animation: typing 3s steps(19) forwards,
    blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.not-animated {
  animation: untyping 3s steps(19) forwards,
    blink 0.5s infinite step-start alternate;
}

@keyframes untyping {
  from {
    width: 18ch;
  }
  to {
    width: 0;
  }
}


@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    width: 500px;
  }
  
  h1 {
    font-size: 30px;
    white-space: wrap;
    font-family: monospace;
  }
  
  .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }
  
  
}